<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Oracle" connectionString="Data Source = (DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = svt-03.solvo.kvt.local.)(PORT = 1521)))(CONNECT_DATA = (SERVER = DEDICATED)(SERVICE_NAME = rif1.kvt.local))); User ID = nik2; Password = 816424;" providerName="Oracle.DataAccess.Client" />
	</connectionStrings>
</configuration>